<div class="row itemsBlock">
    <div  *ngIf="!load"
     class=" mx-auto">
        <div class="spinner-border text-success" style="width: 4rem; height: 4rem;" role="status">
            <span class="visually-hidden"></span>
        </div>
</div>
    <article
        *ngFor="let book of books"
        class="col-md-3 col-sm-6 col-xs-12 card d-flex justify-content-between align-items-center"
    >
        <div class="animate__bounceIn text-center">
            <a
                class="postcard__img_link"
                routerLink="#"
                (click)="open(mymodal)"
            >
                <img
                    *ngIf="
                        book.volumeInfo.imageLinks.smallThumbnail ==
                            'No image available.';
                        else elseTemplate
                    "
                    class="postcard__img"
                    src="./assets/noDisponible.png"
                    alt="no se mostro"
                />
                <ng-template #elseTemplate>
                    <img
                        class="postcard__img"
                        src="{{ book.volumeInfo.imageLinks.smallThumbnail }}"
                        alt="Image Title"
                    />
                </ng-template>
            </a>

            <h4 class="postcard__title bue">
                <p>{{ book.volumeInfo.title }}</p>
                <p>{{ book.id }}</p>
            </h4>
            <h4>
                <p>Autor: {{ book.volumeInfo.authors[0] }}</p>
            </h4>
            <div class="postcard__subtitle small"></div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt"></div>
            <span>
                <div class="col-12">
                    <div class="d-grid gap-2 col-12">
                <a
                    class="btn btn-success btn-md card-button-text"
                    [routerLink]="['/vista', book.id]"
                    routerLinkActive="router-link-active"
                >
                    Ver más...
                </a>
            </div>
            </div>
            </span>
        </div>

        <!-- Modal-->
        <ng-template #mymodal let-modal>
            <diV class="modalFoor">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">
                        {{ book.volumeInfo.title }}
                    </h4>

                    <!--<button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                    >
                        <span aria-hidden="true">×</span>
                    </button>-->
                </div>

                <div class="modal-body">
                    <img
                        class="postcard__img2"
                        src="{{ book.volumeInfo.imageLinks.smallThumbnail }}"

                    />
                </div>

                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-success ms-2"
                        (click)="modal.close('Save click')"
                    >
                        Ok
                    </button>
                </div>
            </diV>
        </ng-template>
    </article>
</div>
