.card{

    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid grey;
}

p {
    color:darkslategray
}

.btn{
    background-color:rgb(196, 53, 53)
}

.modalFoor{

    background-color:  rgba(15, 179, 201, 0.39);
    align-items: center;
    padding: 2%;
    border: 14px solid white;
    text-align: center;
    border-radius: 2rem;


}

.modal-title{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 25px;
}


#spin{
    width: 4rem;
    height: 4rem;
}

.imga{
    width: 25vh;
    height: 35vh;
}
