<div class="row itemsBlock">
    <article
        *ngFor="let book of books"
        class="col-md-3 col-sm-6 col-xs-12 card d-flex justify-content-between align-items-center">
        <div class="animate__bounceIn text-center">

            <a class="postcard__img_link" routerLink="#">
                <img
                *ngIf="
                book.volumeInfo.imageLinks.smallThumbnail ==
                'No image available.';
                        else elseTemplate
                        "
                        class="postcard__img"
                        src="./assets/noDisponible.png"
                        alt="no se mostro"
                        />
                        <ng-template #elseTemplate>
                <img
                class="postcard__img"
                src="{{ book.volumeInfo.imageLinks.smallThumbnail }}"
                alt="Image Title"
                />
            </ng-template>
        </a>

        <h4 class="postcard__title bue">
            <p>{{ book.volumeInfo.title }}</p>
            <p>{{ book.id }}</p>
        </h4>
        <h4>
            <p>Autor: {{ book.volumeInfo.authors[0] }}</p>
        </h4>
        <div class="postcard__subtitle small"></div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt"></div>
        <span>
            <a
            class="btn btn-success ms-2"
            [routerLink]="['/vista', book.id]"
            routerLinkActive="router-link-active"
            >
            Ver más...
        </a></span>
    </div>
    </article>
</div>

