.card{

    background-color: rgba(255, 255, 255, 0.5);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    width: 18rem;
    margin: 20px;
    border-radius: 10px;
    padding: 2%;
    border: 3px solid white;
}
.postcard__img{
    min-width: 8rem;
    max-width: 8rem;
}


.btn{
    background-color: blue;
    color: white;
    margin-bottom: 5px;
    border: 3px solid blue;
}
.btn:hover{
   background-color: white;
   color: blue;
}

p {
    color: white;
}

.postcard__img:hover{
    min-width: 12rem;
    max-width: 12rem;
}

.modalFoor{

    background-color:  rgba(15, 179, 201, 0.39);
    align-items: center;
    padding: 2%;
    border: 14px solid white;
    text-align: center;
    border-radius: 2rem;


}

.modal-title{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 25px;
}

.postcard__img2{

    width: 26rem;
    height: 26rem;
    min-width: 8rem;
    max-width: 16rem;
}

