.card{

    background-color: rgba(255, 255, 255, 0.5);
	animation: gradient 10s ease infinite;
    width: 18rem;
    margin: 20px;
    border-radius: 10px;
    padding: 2%;
    border: 3px solid white;
}
.postcard__img{

    max-width: 5rem;
}


p {
    color:darkslategray
}
.btn{

    position:absolute;
    bottom: 0;
    margin-left: 50px;
    width: 8rem;
    background-color:rgb(217, 190, 241)
}

.modalFoor{

    background-color:  rgba(15, 179, 201, 0.39);
    align-items: center;
    padding: 2%;
    border: 14px solid white;
    text-align: center;
    border-radius: 2rem;


}

.modal-title{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 25px;
}

.postcard__img2{

    width: 26rem;
    height: 26rem;
    min-width: 8rem;
    max-width: 16rem;
}

