<p>my-books works!</p>

<!-- <span>
    <a href="http://localhost:8080/reserve/reserve/export/pdf" class="btn btn-success btn-lg">Descargar PDF</a>
</span> -->

<!-- <div class="col-12 text-right mt-4">
                    <a
                        href="{{bookVer.volumeInfo.previewLink}} "
                        class="btn btn-primary mx-3 card-button-text"
                        target="_blank"> Lectura </a>
                </div>  -->
<!--
                 <ng-container *ngIf="books.length > 0; else error">

                    <div class="row animate__animated animate__fadeIn">
                        <div class="col-sm-12 col-md-3 col-lg-3 align-items-stretch" *ngFor="let book of books">
                            <div class="card mb-3">
                                <a  class="text-center mt-4"
                                    routerLink="#"
                                    (click)="open(mymodal)">
                                <img
                                    *ngIf="book.volumeInfo.imageLinks.smallThumbnail ==
                                            'No image available.'; else imagenDisponible"
                                    class="card-img-top imga img-fluid"
                                    src="./assets/noDisponible.png"
                                    alt="no se mostro"
                                />
                                <ng-template #imagenDisponible>
                                    <img
                                        class="card-img-top imga img-fluid"
                                        src="{{book.volumeInfo.imageLinks.smallThumbnail}}"
                                        alt="Image Title"
                                    />
                                </ng-template>
                                </a>

                                <div class="card-body">
                                  <h5 class="card-title">{{ book.volumeInfo.title | slice:0:35}}</h5>
                                    <p *ngIf="book.volumeInfo.authors[0].length < 18 ; else muyLargo"  class="card-text">
                                        <strong> {{'BOOK_CARD_AUTHOR' | translate}} </strong> {{ book.volumeInfo.authors[0] }}
                                    </p>
                                  <ng-template #muyLargo>
                                    <p class="card-text"> <strong> {{'BOOK_CARD_AUTHOR' | translate}} </strong> {{ book.volumeInfo.authors[0] | slice:0:15}}...</p>
                                  </ng-template>

                                </div>
                                <div class="card-body text-center">
                                    <a class="btn btn-success ms-2 w-100"
                                       [routerLink]="['/vista', book.id]"
                                       routerLinkActive="router-link-active">

                                    {{'BOOK_CARD_SEE_MORE' | translate}}
                                    </a>
                                </div>

 -->





