.card{
    background-color: rgba(255, 255, 255, 0.5)
}

.btn{
    margin-bottom: 5px;
}
.btn:hover{
   background-color: rgb(2, 49, 2);
}

.overlay{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, .6);
    cursor: default;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}




/* .text-card-title {
  font-size: 0.9rem;
  font-family: "Comfoorta-Bold";
}
.text-blue {
  color: #62add7;
}
.text-title {
  font-size: 1.3rem;
}
.text-card-text,
.card-button-text {
  font-size: 0.9rem;
  color: #403e3e;
  font-family: "Comfoorta-Light";
}
.card-button-text {
  background-color: #62add7;
  border: #62add7;
  font-size: 0.8em;
  color: #ffffff;
}

.card-book {
  border: #ffffff;
  box-shadow: #bbbbbb 3px 3px;
}
.pb-20 {
  margin-top: 9rem;
  margin-bottom: 9rem;
} */
