<div class="row">
    <div class="col-12 col-md-12 col-lg-4 mt-5 mb-5">
        <div class="card card-book">
            <div class="card-body">
                <div class="text-center">
                    <p class="text-title"></p>
                    <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}"  />
                </div>

                <div class="text-left mt-5">
                    <p class="text-card-text">
                        <span class="text-card-title"
                            >Título: {{ book.volumeInfo.title }}
                        </span>
                    </p>
                    <p class="text-card-text">
                        <span class="text-card-title"
                            >Autor: {{ book.volumeInfo.authors }}
                        </span>
                    </p>
                    <p class="text-card-text">
                        <span class="text-card-title"
                            >Género: {{ book.volumeInfo.categories }}</span
                        >
                    </p>

                    <p class="text-card-text">
                        <span class="text-card-title">Número de páginas: {{ book.volumeInfo.pageCount }} </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-8 mt-5">
        <div class="card card-book">
            <div class="card-body">
                <div class="text-left mb-5">
                    <p class="h5">Descripción:</p>
                </div>
                <div class="text-left">
                    <p class="text-card-text">{{ book.volumeInfo.description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right mt-4">
                <a
                    href=""
                    class="btn btn-primary mx-3 card-button-text"
                    target="_blank"
                    >Read a sample</a
                >
                <a
                    href=""
                    class="btn btn-primary card-button-text"
                    target="_blank"
                    >Añadir</a
                >
            </div>
        </div>
    </div>
</div>
