<div class="row">
    <div class="col-12 col-md-12 col-lg-4 mt-5">
        <div class="card card-book">
            <div class="card-body">
                <div class="text-center">
                    <p class="text-title"></p>
                    <img
                        src="IMAGEN "
                    />
                </div>

                <div class="text-left mt-5">
                    <p class="text-card-text">
                        <span class="text-card-title">Título:</span>
                        asd
                    </p>
                    <p class="text-card-text">
                        <span class="text-card-title">Autor:</span>
                        asd
                    </p>
                    <p class="text-card-text">
                        <span class="text-card-title">Género:</span>
                         asd
                    </p>
                    <p class="text-card-text">
                        <span class="text-card-title">Editorial:</span>
                        Asd
                    </p>
                    <p class="text-card-text">
                        <span class="text-card-title">Número de páginas:</span>
                        234
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-8 mt-5">
        <div class="card card-book">
            <div class="card-body">
                <div class="text-left mb-5">
                    <p class="h5">Descripción:</p>
                </div>
                <div class="text-left">
                    <p class="text-card-text">
                        "RESUMEN DEL LIBRO"
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right mt-4">
                <a
                    href=""
                    class="btn btn-primary mx-3 card-button-text "
                    target="_blank"
                    >Read a sample</a
                >
                <a
                    href=""
                    class="btn btn-primary card-button-text "
                    target="_blank"
                    >Añadir</a
                >
            </div>
        </div>
    </div>
</div>
