<div class="row">
    <div class="col-12 col-md-12 col-lg-4 mt-5">
        <div class="card card-book">
            <div class="card-body">
                <div class="text-center">
                    <p class="text-title"></p>
                    <img
                        src="http://books.google.com/books/content?id=2zgRDXFWkm8C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api "
                    />
                </div>

                <div class="text-left mt-5">
                    <p class="text-card-text">
                        <span class="text-card-title">Authors:</span>
                        asd
                    </p>
                    <p class="text-card-text">
                        <span class="text-card-title">Publisher:</span>
                        asd
                    </p>
                    <p class="text-card-text">
                        <span class="text-card-title">Published Date:</span>asd
                    </p>
                    <p class="text-card-text">
                        <span class="text-card-title">Number of pages:</span>
                        pages
                    </p>
                    <p class="text-card-text">
                        <span class="text-card-title">Critics' Opinion:</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-8 mt-5">
        <div class="card card-book">
            <div class="card-body">
                <div class="text-left mb-5">
                    <p class="h5">Book Description</p>
                </div>
                <div class="text-left">
                    <p class="text-card-text">
                        "Con las manos temblorosas, Harry le dio la vuelta al
                        sobre y vio un sello de lacre púrpura con un escudo de
                        armas: un león, un águila, un tejón y una serpiente, que
                        rodeaban una gran letra H. Harry Potter nunca había oído
                        nada sobre Hogwarts cuando las cartas comienzan a caer
                        en el felpudo del número cuatro de Privet Drive.
                        Escritas en tinta verde en un pergamino amarillento con
                        un sello morado, sus horribles tíos las han confiscado
                        velozmente. En su undécimo cumpleaños, un hombre gigante
                        de ojos negros llamado Rubeus Hagrid aparece con una
                        noticia extraordinaria: Harry Potter es un mago y tiene
                        una plaza en el Colegio Hogwarts de Magia y Hechicería.
                        ¡Una aventura increíble está a punto de empezar! Tema
                        musical compuesto por James Hannigan.",
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right mt-4">
                <a
                    href=""
                    class="btn btn-primary mx-3 card-button-text "
                    target="_blank"
                    >Read a sample</a
                >
                <a
                    href=""
                    class="btn btn-primary card-button-text "
                    target="_blank"
                    >Añadir</a
                >
            </div>
        </div>
    </div>
</div>
