

            <h1> CAMBIA TU CONTRASEÑA</h1>
            <form action="#" th:action="@{/forgot-password}" th:object="${user}" method="post" (ngSubmit)="changePassworCallService()">
                <table>
                    <tr>
                        <td><label for="emailId">Email</label></td>
                        <td><input  type="text" name="emailId"  [(ngModel)]="changePasswordDTO.email"/></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input  type="password" name="password" [(ngModel)]="changePasswordDTO.password"/></td>
                    </tr>
                    <tr>
                        <td><label for="newPassword"> New Password</label></td>
                        <td><input  type="password" name="newPassword" [(ngModel)]="changePasswordDTO.newPassword"/></td>
                    </tr>
                    <tr>
                        <td><input type="reset" value="Clear"/></td>
                        <td><input type="submit" value="Reset Password"/></td>
                    </tr>
                </table>
            </form>



