<!-- <form class="custom-form" (ngSubmit)="login()" >
    <legend>Bienvenido/a!</legend>
    <label for="email">Login</label>
    <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
        class="form-control"
        id="email"
    />
    <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required="required"
        id="password"
    />
    <button type="submit">Acceder</button>
</form> -->






<div class="w-25 mx-auto">

    <form class="custom-form mt-5" (ngSubmit)="login()">
        <img
            class="mx-auto d-block"
            src="./assets/booklogo.jpg"
            alt="200"
            width="200"
            height="200"
            />
            <h1 class="h3 mb-3 fw-normal text-center">Login</h1>

            <div class="form-floating">
                <input
                type="email"
                [(ngModel)]="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
                />
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input
                type="password"
                [(ngModel)]="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
                />
                <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="checkbox mb-3">

    </div>
    <button class="w-100 btn btn-info btn-lg " type="submit">Acceder</button>
    <p class="mt-5 mb-3 text-muted">©The Librarian 2022</p>
</form>
</div>
