<form class="custom-form" (ngSubmit)="login()" >
    <legend>Bienvenido/a!</legend>
    <label for="email">Login</label>
    <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
        class="form-control"
        id="email"
    />
    <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required="required"
        id="password"
    />
    <button type="submit">Acceder</button>
</form>