

<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-light" id="pageHeaderTitle">Libros</div>



		 <article class="postcard light blue animate__bounceIn" *ngFor="let book of books">
			<a class="postcard__img_link" href="#">
                    <img *ngIf="book.volumeInfo.imageLinks.smallThumbnail == 'No image available.'; else elseTemplate" class="postcard__img" src="./assets/noDisponible.png" alt="no se mostro" />
                <ng-template #elseTemplate>
                    <img class="postcard__img" src="{{ book.volumeInfo.imageLinks.smallThumbnail}}" alt="Image Title" />
                </ng-template>
			</a>


			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">{{ book.volumeInfo.title}}</a></h1>
                <h1 class="postcard__title blue"><a href="#">Autor: {{ book.volumeInfo.authors[0]}}</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Fecha de publicación: {{book.volumeInfo.publishedDate}}
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"></div>
                 <span>{{book.volumeInfo.description | slice:0:200}}
                    <a class="btn btn-primary ms-2" [routerLink]="['title', title]" routerLinkActive="router-link-active"> Ver más... </a></span>

			</div>
		</article>



	</div>
</section>